<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Test Disbursement SNAP</title>
</head>
<body>
    <div style="align-items: center; text-align: center;">
        <h1>Demo Test Disbursement SNAP</h1>
        <div>
            <a href="/getToken"><button type="button">Get Token</button></a><br/>
        </div>
        <div>
            <a href="/accountInquiry"><button type="button">Account Inquiry</button></a><br/>
        </div>
        <div>
            <a href="/transactionStatus"><button type="button">Check Transaction Status</button></a><br/>
        </div>
        <div>
            <a href="/checkBalance"><button type="button">Check Balance</button></a><br/>
        </div>
        <div>
            <a href="/getBankList"><button type="button">Bank List</button></a><br/>
        </div>
        <div>
            <a href="/eMoney"><button type="button">E Money</button></a><br/>
        </div>
    </div>
</body>
</html>